{% extends 'base.html.twig' %}

{% block title %}Hello LoginController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Welcome {{ app.user.nom }}  {{ app.user.prenom }} ✅</h1>
    Bonjour {{ app.user.prenom }} avec votre {{ app.user.nomBike }} ({{ app.user.descriptionBike }}) vous
    avez effectué {{ app.user.distanceBike }} km.
</div>
{% endblock %}
