{% extends 'base.html.twig' %}

{% block title %}Hello ApiController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Repositories ✅</h1>


    <ul>
        {% for repo in repos %}
        <li>Name : {{ repo.name }}</li>
        <li>Description : {{ repo.description ? repo.description : 'No description'}}</li>
        <br>
        {% endfor %}
    </ul>
</div>
{% endblock %}
